<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>商品管理 </title>
<link rel="stylesheet" href="../qi-style/css/bootstrap.css">
<link rel="stylesheet" href="../qi-style/css/qi-admin.css">
<link rel="stylesheet" href="../qi-style/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../qi-style/css/morris-0.4.3.min.css">

<!-- JavaScript -->
<script src="../qi-style/js/jquery-1.10.2.js"></script>
<script src="../qi-style/js/bootstrap.js"></script>
<script src="../qi-style/js/raphael-min.js"></script>
<script src="../qi-style/js/morris-0.4.3.min.js"></script>
<script src="../qi-style/js/tablesorter/jquery.tablesorter.js"></script>
<script src="../qi-style/js/tablesorter/tables.js"></script>
<script src="../qi-style/js/flot/jquery.flot.js"></script>
<script src="../qi-style/js/flot/jquery.flot.tooltip.min.js"></script>
<script src="../qi-style/js/flot/jquery.flot.resize.js"></script>
<script src="../qi-style/js/flot/jquery.flot.pie.js"></script>

<!-- angular js引入 -->
<script type="text/javascript" src="../qi-style/angularjs/angular.min.js"></script>

<!-- 分页插件 -->
<link rel="stylesheet" href="../qi-style/angularjs/pagination.css">
<script type="text/javascript" src="../qi-style/angularjs/pagination.js"></script>


<style>
td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
</style>


<script type="text/javascript">
	var app = angular.module("qioitem", [ 'pagination' ]);
	app.controller("qioController", function($scope, $http,$location) {
		 $scope.findList = function() {
			$http.get("../oitem/seekAll.action").success(function(answer) {
				$scope.list = answer;
			});
		} 

		$scope.qiPaginationCofig = {
			//当前页
			currentPage : 1,
			//总记录数
			totalItems : 10,
			//每页记录数
			itemsPerPage : 5,
			//下拉分页选项
			perPageOptions : [ 10, 20, 30, 40, 50 ],
			//页码变更自动触发onChange
			onChange : function() {
				$scope.renovateList();
			}
		}
		//刷新
		$scope.renovateList = function() {
			$scope.findPages($scope.qiPaginationCofig.currentPage,	$scope.qiPaginationCofig.itemsPerPage);
		}
		
		$scope.findPages = function(pageNum, pageRows) {
			$http.get(
					"../qioPage/findPages.action?pageNum=" + pageNum
							+ "&pageRows=" + pageRows).success(
					function(answer) {
						$scope.list = answer.rows;
						$scope.qiPaginationCofig.totalItems = answer.total;
					});
			//清空已经删除品牌的id使数组为空
			$scope.selectId = [];
			$scope.chAr = [];
			//全选删除之后清空选中框
			$scope.chAll = false;
		}
		
		//添加
		$scope.addProduct = function() {
			$scope.show.qioItemDesc.itemDesc=editor.html();
				$http.post("../oitem/addProduct.action", $scope.show).success(
						function(response) {
							if (response.success) {
								alert("新增成功");
								$scope.show={}
							} else {
								alert(response.message);
							}
					    });
		}
		
		//查询到商品
		/* $scope.findItem = function() {
			var id = $location.search()["id"]
		    if (id == null) {
				return;
			} 
			$http.get("../oitem/findItem.action?id=" + id).success(
					function(answer) {
						$scope.show = answer;
					});
		} */
		 //查询到商品
		$scope.findItem = function() {
			var id = $location.search()["id"]
			if (id == null) {
				return;
			}
			$http.get("../oitem/findProduct.action?id=" + id).success(
					function(answer) {
						editor.html($scope.entity.qioItemDesc.itemDesc);
						$scope.entity = answer;
					});
		}
		
		//勾选选中业务逻辑---点击存入集合再次点击取消后集合中对应元素也消失
		$scope.selectId = [];//要删除时的多选存入这个集合
		
		$scope.updateSelect = function($event, id, call){
			if($event.target.checked){
				$scope.selectId.push(id);//push方法是将元素添加到集合
			}else{
				$scope.selectId.splice($scope.selectId.indexOf(id), 1);//$scope.selectId.indexOf(id)为参数位置，1代表移除个数
			}
			$scope.chAr[call] = $event.target.checked;
			$scope.chAll = $scope.list.length == $scope.selectId.length;
		}
		
		$scope.chAr = [];
		$scope.checkAll = function($event){
			$scope.selectId = [];
			for(var call = 0; call<$scope.list.length; call++){
				$scope.chAr[call] = $event.target.checked;
				if($event.target.checked){
					$scope.selectId.push($scope.list[call].id);
				}
			}
			$scope.chAll = $scope.list.length == $scope.selectId.length;
		}
		
		
		//删除选中
		$scope.deleteItem = function(){
		 if($scope.selectId.length>0){
		  if(confirm("确定删除吗？")){
			$http.get("../oitem/deleteItem.action?gid=" + $scope.selectId).success(
				function(answer){
					if(answer.success){
						//刷新
						$scope.renovateList();
					}else{
						alert(answer.message);
					}
				}	
			);
			
		  }	
		 }else{
		        alert("请选择要删除的商品！");
		    }
	   }

	});
</script>

</head>
<body class="hold-transition skin-green sidebar-mini">
	<div id="page-wrapper" ng-app="qioitem" ng-controller="qioController">
		<div class="row">
			<div class="col-lg-12">
				<h1>
					商品管理 <small>商品列表</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="qihome.html"><i class="fa fa-home"></i> 系统首页</a></li>
					<li class="active"><i class="fa fa-list-ol"></i> 商品列表</li>
				</ol>
			</div>
		</div>

		<div class="table-responsive">
			<div class="form-group form-inline">
				<div class="btn-group">
					<input type="button" class="btn btn-primary" value="增加" onclick="window.location.href='../qi-manage/addgoods.html'" >
					<input type="button" class="btn btn-success" value="删除" ng-click="deleteItem()">
					<input type="button" class="btn btn-warning" value="刷新" onclick="window.location.reload();">
				</div>
			</div>

			<table class="table table-bordered table-hover table-striped tablesorter" style="table-layout: fixed">
				<thead>
					<tr>
						<td><input type="checkbox" ng-click="checkAll($event)" ng-checked="chAll"></td>
						<td>商品ID</td>
						<td>商品标题</td>
						<td>商品卖点</td>
						<td>商品价格</td>
						<td>库存数量</td>
						<!-- <td>商品图片</td> 
						<td>所属品牌</td>
						<td>商品状态</td>-->
						<!-- <td>创建时间</td>
						<td>更新时间</td> -->
						<td>操作</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="entity in list">
						<td><input type="checkbox" ng-click="updateSelect($event,entity.id,$index)" ng-checked="chAr[$index]"></td>
						<td>{{entity.id}}</td>
						<td>{{entity.title}}</td>
						<td>{{entity.sellPoint}}</td>
						<td>{{entity.price}}</td>
						<td>{{entity.num}}</td>
						<!--<td>{{show.img}}</td>
						 <td>{{show.cid}}</td>
						<td>{{show.status}}</td> -->
						<!-- <td>{{entity.created}}</td>
						<td>{{entity.updated}}</td> -->
						<td class="text-left"><a class="btn btn-danger btn-xs" 
							href="../qi-manage/addgoods.html#?id={{entity.id}}">修改</a></td>
					</tr>
				</tbody>
			</table>
			
			<!-- 测试 -->
			
			<!-- 分页插件 -->
			 <tm-pagination conf="qiPaginationCofig"></tm-pagination>
		</div>
		<!-- {{ conf.totalItems }} -->
		 <!-- {{selectId}} -->
	</div>

</body>
</html>